#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* NAV starts */
.nav-tabs-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 50px;
  margin-top: 30px;
  width: 100%;
}
.personal-logo{
  display: flex;
}

.nav-underline .nav-item .nav-link{
  width: 100%;
  color: darkblue;
}

.nav-underline .nav-item .nav-link.active{
  color: orangered;
  /*border-color: orangered;*/
}


.nav-item{
  margin-right: 30px;
}

/* NAV Ends */

/* Card Starts */
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Card Ends */

#profile-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 10%;
  margin-top: 30px;
  margin-bottom:30px;
  border: 5px solid var(--borderCol);
  border-radius: 25% 20px 25% 20px;
  padding: 5px;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

/*** Resume Sections starts ***/
.resume-container {
  margin: 0 auto; 
  box-sizing: border-box;
  padding: 0.5in; /* controls margins */
  width: 8.5in;
  height: 11in;
  background-color: white;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
  }
  
  .multicolumn {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  }
  
  .resume-contact{
    text-align: start;
    width:100%
    
  }
  
  .info-card{
    text-align: end;
    margin-right: 65px;
    
  }
  .resume-titles{
    text-align:start;
    font-size: 20px;
  }
  
  .download-link{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color:blue;
    font-size: 18px;
  }
  .download-link:hover{
    color: orangered;
  }
  
  /*print set up*/
  @media print {
    body {
      margin: 0;
    }
  
    .resume-container {
      width: 100%;
      box-shadow: none;
    }
    html {
      height: 11in;
      width: 8.5in;
      overflow: hidden;
    }
  }
  /*** Resume Section ends ***/

  footer{
    margin-top: 50px;
 
  }
  .linkIcons{
   max-width: 50px;
   margin-right: 20px;
  }
  .linkIconsLINK{
    max-width: 50px;
   }
   .linkIconsX{
    max-width: 100px;
   }

   .linkIconsPort{
    max-width: 100px;
    margin-right: 20px;
   }